<!-- MENU BUTTON -->
<div class="menu-btn" [class.open]="isMenuOpen" (click)="toggleMenu()">
  <div class="menu-btn-burger"></div>
</div>
<!-- MENU RIGHT HERE -->
<div class="side-menu" [class.active]="isMenuOpen">
  <nav>
    <h2>Multiversum</h2>
    <ul>
      <li class="marvel-link" (click)="switchUniverse('mcu_movies_data')">
        <span class="dot"></span> MARVEL
      </li>
      <li class="sw-link" (click)="switchUniverse('starwars_movies_data')">
        <span class="dot"></span> Star Wars
      </li>
      <li class="fnaf-link" (click)="switchUniverse('fnaf_games_data')">
        <span class="dot"></span> Five Nights at Freddy's
      </li>
    </ul>
    <div class="side-menu-footer">
      <p>TengokuuU</p>
      <span class="ai-badge">Built with AI support</span>
    <span class="copyright">&copy; 2026 | All Rights Reserved</span>
    </div>
  </nav>
</div>

<!-- TIMELINE -->
<div class="timeline-wrapper" #timelineWrapper [ngClass]="currentTheme">
  <div class="timeline-track" #timeline>
    <div class="timeline-axis">
      <div class="main-line"></div>
      <div class="progress-line" [style.width.%]="45"></div>
    </div>
    <!-- TIMELINE ELEMENT, GENERATE FROM JSON FILE -->
    @for (item of mcuItems; track item.id; let i = $index) {
    <div class="timeline-item" [class.bottom]="i % 2 !== 0">

      <div class="timeline-dot"></div>

      <div class="card-anchor">

        <!-- ENTIRE CARD -->
        <div class="mcu-card" (mouseenter)="setHoverBg(item)" (mouseleave)="setHoverBg(null)">
          <div class="poster-wrapper">
            <img [src]="item.poster_url" class="poster-img" [alt]="item.tytul" (click)="toggleWatched(item, $event)">
            <div class="watched-overlay" *ngIf="item.watched">
              <span class="check-icon">✔</span>
            </div>
          </div>
          <!-- AFTER HOVER ELEMENT WITH DETAILS -->
          <div class="details-box">
            <h3>{{ item.tytul }}</h3>
            <p class="description">{{ item.opis_krotki }}</p>
            <p class="release-date">Data wydania: {{ item.data_premiery }}</p>
            <!-- LINKING TO SITES -->
            @if(item.id == 36)
            {
            <p class="sadge">Short aktualnie niedostępny na Disney+.</p>
            }
            @else
            {
            <a [href]="item.link_disney_plus" target="_blank" class="dplus-link">
              <div class="tooltip">
                @if(item.id == 25 || item.id == 37)
                {
                <img src="assets/misc/ntflx.svg" alt="Netflix" width="60">
                }
                @else if(item.id == 39)
                {
                <img src="assets/misc/amzn.svg" alt="Amazon Prime" width="60">
                <span class="tooltip-text">Link do filmu</span>
                }
                @else if(item.id >= 201 && item.id <= 211) { <img src="assets/misc/stm.svg" alt="Steam" width="60">
                  <span class="tooltip-text">Link do gry</span>
                  }
                  @else
                  {
                  <img src="assets/misc/dsnplus.svg" alt="Disney+" width="60">
                  <span class="tooltip-text">Link do filmu</span>
                  }
              </div>
            </a>
            }
          </div>
        </div>
      </div>
    </div>
    }
  </div>
</div>